<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Enraged Gophers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarNav">
        <span class="nacbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mx-2" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item mx-2" th:classappend="${#httpServletRequest.getRequestURI() == '/catalogue' ? 'active':''}">
                <a class="nav-link" href="/catalogue">Catalogue</a>
            </li>
            <li class="nav-item mx-2" th:if="${user != null}" th:classappend="${#httpServletRequest.getRequestURI() == '/profile' ? 'active':''}">
                <a class="nav-link" href="/profile">View Profile</a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav my-2 my-lg-0">
        <span th:if="${user != null}" class="mr-3">
            <span th:if="${user.role} == 'Librarian'">
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                        data-toggle="dropdown" th:classappend=
                                        "${#httpServletRequest.getRequestURI() == '/addMedia' || 
                                        #httpServletRequest.getRequestURI() == '/searchMembers' ? 'active':''}">
                            Admin
                        </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/addMedia">Add Media</a>
                        <a class="dropdown-item" href="/searchMembers">Search Members</a>
                    </div>
                </li>
            </span>
        </span>
        <li class="nav-item mr-4" th:if="${user != null}">
            <a class="btn btn-secondary px-2 py-1 mt-1" href="/logout">Logout</a>
        </li>
        <li class="nav-item mr-4" th:if="${user == null}" >
            <div class="btn-group" role="group">
                <a class="btn btn-info px-2" href="/login">Login</a>
                <a class="btn btn-secondary px-2" href="/register">Register</a>
            </div>
        </li>
    </ul>
</nav>