<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="common/head.html"></div>
<body>
<div th:replace="common/navbar.html"></div>
<div class="container-fluid">
    <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <form method="POST" th:action="@{/editMember(userID=${member.id})}">
                    <div class="form-group row mb-3">
                        <label class="col-lg-2 col-form-label" for="name">Name</label>
                        <div class="col-lg-3">
                            <input class="form-control" id="name" name="name" th:placeholder="${member.name}"/>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-lg-2 col-form-label" for="username">Username</label>
                        <div class="col-lg-3">
                            <input class="form-control" id="username" name="username" th:placeholder="${member.username}"/>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-lg-2 col-form-label" for="email">Email</label>
                        <div class="col-lg-3">
                            <input class="form-control" type="email" id="email" name="email"
                                   th:placeholder="${member.email}"/>
                        </div>
                    </div>
                    <div th:if="${error} != null">
                        <div class="form-group">
                            <div class="alert alert-danger" th:text="${error}"></div>
                        </div>
                    </div>
                    <div class="form-group row mb-3" th:if="${isSelf}">
                        
                        <label class="col-lg-2 col-form-label">Password</label>
                        
                        <div class="col-lg-2">
                            <input class="form-control" type="password" id="oldpass" name="oldpass"
                                   placeholder="Old Password"/>
                        </div>
                        <div class="col-lg-2">
                            <input class="form-control" type="password" id="newpass" name="newpass"
                                   placeholder="New Password"/>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-lg-2 col-form-label" for="dob">Date of Birth</label>
                        <div class="col-lg-2">
                            <input class="form-control" type="date" id="dob" name="DoB"
                                   th:value="${member.dateOfBirth}"/>
                        </div>
                    </div>
                    <div class="row mb-3" th:if="${user.role} == 'Librarian'">
                        <div class="col-lg-2">
                            <label>Role</label>
                        </div>
                        <div class="col">
                            <label for="Member">Member</label>
                            <input class="ml-1" type="radio" id="Member" name="role" value="Member"
                            th:checked="${member.role} == 'Member'">

                            <label class="ml-4" for="Librarian">Librarian</label>
                            <input class="ml-1" type="radio" id="Librarian" name="role" value="Librarian"
                            th:checked="${member.role} == 'Librarian'">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
<div th:replace="common/footer"></div>
</body>
</html>