<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="common/head.html"></div>
<body>
<div th:replace="common/navbar.html"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            <label>Title</label>
        </div>
        <div class="col-lg-4">
            <span th:text="${media.title}"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            <label>Creator</label>
        </div>
        <div class="col-lg-4">
            <span th:text="${media.creator}"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            <label>Genre</label>
        </div>
        <div class="col-lg-4">
            <span th:text="${media.genre}"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            <label>Type</label>
        </div>
        <div class="col-lg-4">
            <span th:text="${media.type}"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            <label>Status</label>
        </div>
        <div class="col-lg-4">
            <span th:text="${media.status}"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <label>Set as:</label>
        </div>
        <div class="col-lg-2">
            <form method="post" action="/changeStatus">
                <input type="hidden" name="mediaId" th:value="${media.id}">
                <input type="hidden" name="newStatus" value="Available">
                <button type="submit" class="btn btn-dark">Available/Returned</button>
            </form>
        </div>
        <div class="col-lg-2">
            <form method="post" action="/changeStatus">
                <input type="hidden" name="mediaId" th:value="${media.id}">
                <input type="hidden" name="newStatus" value="Discontinued">
                <button type="submit" class="btn btn-dark">Remove</button>
            </form>
        </div>
    </div>
    <div class="row">
        <form method="post" action="assignLoan">
            <div class="col-lg-4">
                <input type="hidden" name="mediaId" th:value="${media.id}">
                <label for="username">Loan for:</label>
            </div>
            <div class="col-lg-4">
                <input type="text" name="username" id="username">
            </div>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="common/footer"></div>
</body>
</html>