<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="common/head.html"></div>
<body>
<div th:replace="common/navbar.html"></div>
<div class="container mt-3">
    <div class="row justify-content-center align-items-center mt-5">
        <div class="col-4">
            <div class="card">
                <div class="card-body py-4 px-4">
                    <form method="POST" action="/login">
                        <div th:if="${error} != null">
                            <div class="form-group">
                                <div class="alert alert-danger" th:text="${error}"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input placeholder="Username" type="text" class="form-control" id="username" name="username" tabindex="1">
                        </div>
                        <div class="form-group">
                            <input placeholder="Password" type="password" class="form-control" id="password" name="password" tabindex="2">
                        </div>
                        
                        <a class="btn btn-secondary float-left" href="/register" tabindex="4">Register</a>
                        <button type="submit" class="btn btn-info float-right" tabindex="3">Login</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/footer"></div>
</body>
</html>