<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="common/head.html"></div>
<body>
<div th:replace="common/navbar.html"></div>
<div class="container mt-3">
    <div class="row justify-content-center align-items-center mt-5">
        <div class="col-6">
            <div class="card">
                <div class="card-body py-2 px-4">
                    <form method="POST" action="/register">
                        <div th:if="${error} != null">
                            <div class="form-group">
                                <div class="alert alert-danger" th:text="${error}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="email">Email:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="email" id="email" name="email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="name">Name:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" name="name" id="name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="username">Username:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" id="username" name="username">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="password">Password:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="password" id ="password" name="password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="dob">Date of Birth:</label>
                            <div class="col-lg-8 mb-3">
                                <input class="form-control" type="date" id="dob" name="DoB">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3" >Role:</div>
                            <div class="col-lg-8 ">
                                <div class="form-check ml-0 pl-0 bg-light">
                                    <label class="mr-4 form-check-label" for="Member">Member</label>
                                    <input class="form-check-input" type="radio" id="Member" name="role" value="Member" checked="checked">
                                    <label class="mr-4 ml-5 form-check-label" for="Member">Librarian</label>
                                    <input class="form-check-input" type="radio" id="Librarian" name="role" value="Librarian">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3"></div>
                            <div class="mt-4 mb-0 pb-0 col"><button type="submit" class="btn btn-success">Register</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div th:replace="common/footer"></div>
</body>
</html>