<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="common/head.html"></div>
<body>
    <div th:replace="common/navbar.html"></div>

    <div class="row justify-content-center align-items-center mt-5">
        <div class="col-11">
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid">
                        <table class="table table-striped">
                            <thead>
                                <tr class="row justify-content-center">
                                    <th class="col-lg-3 pl-5 border-0">Title</th>
                                    <th class="col-lg-2 border-0">Creator</th>
                                    <th class="col-lg-2 border-0">Status</th>
                                    <span th:if="${user != null}">
                                        <th class="col-lg-2 border-0"></th>
                                        <th class="col-lg-2 border-0" th:if="${user.role} == 'Librarian'"></th>
                                    </span>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="row justify-content-center mt-2" th:each="item : ${media}">
                                    <form method="post" action="/borrow">
                                        <td class="col-lg-3 pl-5" th:text="${item.title}"></td>
                                        <td class="col-lg-2" th:text="${item.creator}"></td>
                                        <td class="col-lg-2" th:text="${item.status}"></td>
                                        <span th:if="${user != null}">
                                            <td class="col-lg-2" th:if="${user != null}">
                                                <input type="hidden" name="userId" id="userId" th:value="${user.id}">
                                                <input type="hidden" name="id" id="id" th:value="${item.id}"/>
                                                <button th:if="${item.status} != 'Discontinued'" type="submit" name="submit" value="value" class="btn btn-dark fluid" style="width: 60%;">
                                                    <span th:if="${item.status} == 'Available'">
                                                        Borrow
                                                    </span>
                                                    <span th:if="${item.status} == 'On Loan' OR ${item.status} == 'Reserved'">
                                                        Reserve
                                                    </span>
                                                </button>
                                            </td>
                                        </span>
                                    </form>
                                    <form th:if="${user != null}" method="post" action="/editMedia">
                                        <input type="hidden" name="mediaId" id="mediaId" th:value="${item.id}">
                                        <td class="col-lg-2" th:if="${user.role} == 'Librarian'">
                                            <button type="submit" name="submit" value="value" class="btn btn-dark" style="width: 60%;">Edit</button>
                                        </td>
                                    </form>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div th:replace="common/footer"></div>
</body>
</html>