<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="common/head.html"></div>
<body>
<div th:replace="common/navbar.html"></div>

<div class="container mt-3">
    <div class="row justify-content-center align-items-center mt-5">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="/searchMembers">
                        <h3 class="card-title">Search members:</h3>
                        <hr class="mb-4 pb-1">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label" for="searchMember">Search Username: </label>
                            <div class="col-lg-4">
                                <input class="form-control" type="text" id ="searchMember" name="username">
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-dark">Submit</button>
                            </div>
                        </div>
                    </form>
                    <hr class="mb-4 pb-1">
                    <table class="table">
                        <tr>
                            <th class="border-0">Username</th>
                            <th class="border-0">Email</th>
                            <th class="border-0">Role</th>
                        </tr>
                        <tr th:each="user : ${foundUsers}">
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.role}"></td>
                            <td>
                                <a class="btn btn-dark" th:href="@{/profile(userID=${user.id})}">View</a>
                            </td>
                        </tr>
                    </table>



                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="common/footer"></div>
</body>
</html>