<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="common/head.html"></div>
<body>
<div th:replace="common/navbar.html"></div>
<div class="container-fluid">
    <div class="card mt-2">
    <div class="card-body">
        <div class="row">
            <div class="col bg">
                <h4 class="card-title" th:text="${member.name}"></h4>
                <span class="card-text">
                    <table class="table table-hover">
                        <tr class="row ml-1">
                            <td class="col-lg-1 mr-4 table-secondary">Username</td>
                            <td class="col" th:text="${member.username}"></td>
                        </tr>
                        <tr class="row ml-1">
                            <td class="col-lg-1 mr-4 table-secondary">Email</td>
                            <td class="col" th:text="${member.email}"></td>
                        </tr>
                        <tr class="row ml-1">
                            <td class="col-lg-1 text-nowrap mr-4 table-secondary">Date of Birth</td>
                            <td class="col" th:text="${member.dateOfBirth}"></td>
                        </tr>
                        <tr class="row ml-1">
                            <td class="col-lg-1 mr-4 table-secondary">Role</td>
                            <td class="col" th:text="${member.role}"></td>
                        </tr>
                        <tr class="row ml-1 no-gutters">
                            <td class="col-lg-1">
                                <a class="btn btn-dark px-3" th:href="@{/editMember(userID=${member.id})}">Edit</a>
                            </td>
                        </tr>
                    </table>
                </span>
            </div>
            
        </div>
        <hr class="mt-0">
        <div class="row mt-4">
            <div class="col">
                <div class="card">

                    <ul class="nav nav-tabs card-header pb-0">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#pastLoans">Previous Loans</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#currentLoans">Current Loans</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#reservations">Reservations</a>
                        </li>
                    </ul>
                    <div class="tab-content mx-5">
    
                        <div id="currentLoans" class="tab-pane fade show active pt-2">
                            <table class="table">
                                <thead>
                                    <tr class="row">
                                        <th class="border-top-0 border-dark col"><b>Name</b></th>
                                        <th class="border-top-0 border-dark col"><b>Return Date</b></th>
                                        <th class="border-top-0 border-dark col"><b>Status</b></th>
                                        <th class="border-top-0 border-dark col"></th>
                                    </tr>
                                    <tr th:each="item : ${currentLoans}" class="row">
                                        <td class="col" th:text="${item.media.title}"></td>
                                        <td class="col" th:text="${#dates.format(item.endDate, 'dd-MMM yyyy')}"></td>
                                        <td class="col" th:text="${item.media.status}"></td>
                                        <form method="POST" action="/borrow">
                                            <input type="hidden" name="id" id="id" th:value="${item.media.id}"/>
                                            <input type="hidden" name="userId" id="userId" th:value="${member.id}">
                                            <td class="col">
                                                <button th:if="${item.media.status} != 'Discontinued'" type="submit" class="btn btn-dark" href="/borrow">
                                                    <span th:if="${item.media.status} == 'On Loan'">
                                                        Renew
                                                    </span>
                                                    <span th:if="${item.media.status} == 'Reserved'">
                                                        Reserve
                                                    </span>
                                                </button>
                                            </td>
                                        </form>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="pastLoans" class="tab-pane fade pt-2">
                            <table class="table">
                                <thead>
                                    <tr class="row">
                                        <th class="border-top-0 border-dark col"><b>Name</b></th>
                                        <th class="border-top-0 border-dark col"><b>Return Date</b></th>
                                        <th class="border-top-0 border-dark col"><b>Status</b></th>
                                        <th class="border-top-0 border-dark col"></th>
                                    </tr>
                                    <tr class="row" th:each="item : ${pastLoans}">
                                        <td class="col" th:text="${item.media.title}"></td>
                                        <td class="col" th:text="${#dates.format(item.endDate, 'dd-MMM yyyy')}"></td>
                                        <td class="col" th:text="${item.media.status}"></td>
                                        <form method="POST" action="/borrow">
                                            <input type="hidden" name="id" id="id" th:value="${item.media.id}"/>
                                            <input type="hidden" name="userId" id="userId" th:value="${member.id}">
                                            <td class="col">
                                                <button th:if="${item.media.status} != 'Discontinued'" type="submit" class="btn btn-dark" href="/borrow">
                                                    <span th:if="${item.media.status} == 'Available'">
                                                        Borrow
                                                    </span>
                                                    <span th:if="${item.media.status} == 'On Loan' OR ${item.media.status} == 'Reserved'">
                                                        Reserve
                                                    </span>
                                                </button>
                                            </td>
                                        </form>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="reservations" class="tab-pane fade pt-2">
                            <table class="table">
                                <thead>
                                    <tr class="row">
                                        <th class="border-top-0 border-dark col"><b>Name</b></th>
                                        <th class="border-top-0 border-dark col"><b>Collection Date</b></th>
                                        <th class="border-top-0 border-dark col"><b>Return Date</b></th>
                                        <th class="border-top-0 border-dark col"><b>Status</b></th>
                                    </tr>
                                    <tr class="row" th:each="item : ${reservations}">
                                        <td class="col" th:text="${item.media.title}"></td>
                                        <td class="col" th:text="${#dates.format(item.startDate, 'dd-MMM yyyy')}"></td>
                                        <td class="col" th:text="${#dates.format(item.endDate, 'dd-MMM yyyy')}"></td>
                                        <td class="col" th:text="${item.media.status}"></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    </div>
</div>
<div th:replace="common/footer"></div>
</body>
</html>